:host {
    display: flex;
    padding: 8px;

    .details {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .badge {
        font-size: 8px;
        color: #e54f4b
    }
}