<section class="details">
    <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
            <a mat-tab-link
               *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive"
            >
              {{link.label}}
            </a>
            <a mat-tab-link
               *ngIf="isSelectedSeason2021$ | async"
               [routerLink]="'status-counts'"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive"
            >
              <span>
                Status Counts
                <span class="badge">Bonus</span>
            </span>
            </a>
        </nav>
    </div>
    <div>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</section>
  