<ng-container *ngIf="vm$ | async as vm">
    <mat-progress-bar mode="indeterminate" *ngIf="vm.isLoadingStatusCounts"></mat-progress-bar>
    <section class="status">
        <p class="status-header">Car Counts by Status</p>
        <mat-list class="status-counts mat-elevation-z8" *ngIf="vm.totalStatus">
            <mat-list-item *ngFor="let statusCount of vm.statusCounts">
                <div matListItemTitle class="key">{{ statusCount.status}}</div>
                <div matListItemLine class="value">{{statusCount.count}}</div>
            </mat-list-item>
        </mat-list>
    </section>
</ng-container>