:host {
    .table-container {
        max-height: calc(100vh - 240px);
        overflow: auto;
    }

    .gray {
        background-color: #f4f4f4
    }

    .mat-row:hover {
        background-color: inherit;
    }

    .clickable {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            font-size: 400;
        }
    }
}