<div *ngIf="vm$ | async as vm" class="header">
    <section>
        <div>
            <mat-button-toggle-group
                name="fontStyle"
                aria-label="Font Style"
                #group="matButtonToggleGroup"
                [value]="vm.currentPageSize"
            >
                <mat-button-toggle
                    *ngFor="let pageSize of vm.pageSizeOptions"
                    [value]="pageSize"
                    (click)="updatePageSize(pageSize)"
                >{{pageSize}}</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    </section>
    <section class="pagination">
        <button mat-raised-button color="primary" (click)="movePage(-1)" [disabled]="vm.currnetPage === 0">Back</button>
        <p>
            Showing page {{vm.currnetPage + 1}} of {{vm.totalPages}}
        </p>
        <button mat-raised-button color="primary" (click)="movePage(1)" [disabled]="vm.currnetPage === vm.totalPages - 1">Next</button>
    </section>
</div>

