:host {
    display: flex;

    flex: 1;
    padding: 12px;

    .race-details {
        display: flex;
        gap: 24px;
        width: 100%;

        &-info {
            flex-basis: 200px;
            flex-grow: 1;
            flex-shrink: 0;
        }

        &-header {
            display: flex;
            flex-direction: row;
            gap: 2px;
            align-items: center;

            h2 {
                margin: 0;
                font-weight: 400;
            }

            mat-icon {
                font-size: 20px;
                margin-top: 10px;
                color: #673ab7;
                cursor: pointer;
            }
        }

        &-scoreboard {
            flex-grow: 2;
            flex-shrink: 1;
            flex-basis: 350px;
        }
    }
}