<ng-container *ngIf="vm$ | async as vm">
    <mat-progress-bar mode="indeterminate" *ngIf="vm.isLoadingRaceEntity"></mat-progress-bar>
    <section class="race">
        <div class="race-details">
            <div class="race-header">
                <a [routerLink]="['../']"><mat-icon>arrow_back_ios</mat-icon></a>
                <h2>Race Details</h2>
            </div>
            <div>
                <app-race-description
                    [raceEntity]="vm.raceEntity"
                ></app-race-description>
            </div>
        </div>
        <div class="race-scoreboard mat-elevation-z4">
              <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
                <a mat-tab-link
                   *ngFor="let link of navLinks"
                   [routerLink]="link.path"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive"
                >
                  {{link.label}}
                </a>
            </nav>
            <mat-tab-nav-panel #tabPanel>
                <router-outlet></router-outlet>
            </mat-tab-nav-panel>
        </div>
    </section>
</ng-container>