:host {
    display: flex;

    .race {
        display: flex;

        &-details {
            display: flex;
            flex-direction: column;
            flex: 1 0 500px;
        }

        &-header {
            display: flex;
            align-items: center;
            gap: 2px;
            padding: 0 0 0 20px;
            
            h2 {
                margin: 0 0 4px 0;
                font-weight: 400;
            }
        }

        &-scoreboard {
           width: 200%
        }
    }
}